* {
	box-sizing: border-box;
	background-color: #c9c9c9;
	border-width: 5px;
}

#page-title {
  font-family: "Verdana", sans-serif;
  padding-bottom: 5px
}

.body {
  font-family: "Garamond", serif;
}