* {
	box-sizing: border-box;
	background-color: #c9c9c9;
	border: 1px solid black;
}

#page-title {
  font-family: "Verdana", sans-serif;
  position: relative;
  top: 20px;
  left: 30px;
  width: 300px;
}

.body {
  font-family: "Garamond", serif;
}