* {
	box-sizing: border-box;
	background-color: #c9c9c9;
}

#page-title {
  color: #FFF;
  font-family: "Verdana", sans-serif;
  line-height: 0.5em;

}

.body {
  font-family: "Garamond", serif;
  color: #FFF;
}